.thead-inverse th {
  color: #fff;
  background-color:green;
}
a.customComponent {
  color:white;
}
a.customComponent:hover{
  color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #FFFFFF;
}

.table-striped>tbody>tr:nth-child(even)>td {
  background-color:#F2FFF2 ;
}

body{
  background-color: #DADADA;
}